<!DOCTYPE html>
<html lang="en">
<head>
<title>TO-DO</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="/list">TODO</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/loginForm">로그인</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/joinForm">회원가입</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>

	<div class="container">
		<form>
			<div class="form-group">
				<label for="username">username:</label> <input type="text"
					class="form-control" placeholder="Enter username" id="username">
			</div>

			<div class="form-group">
				<label for="password">password:</label> <input type="password"
					class="form-control" placeholder="Enter password" id="password">
			</div>

			
		</form>
		<button id="btn-login" class="btn btn-primary">로그인</button>
	</div>
	<br>
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<p>Created by 정민킴</p>
		<p>📧 jmkim@gmail.com</p>
		<p>📞010-1111-2222</p>
		<p>🏴 서울특별시 마포구 노고산동 고산길6 위지안</p>
	</div>

<script src="/js/user.js"></script>

</body>

</html>


